@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/*envolturas*/
.top-treehouse-ad {
    padding: 16px 20px;
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.1),2px 2px 0 rgba(0,0,0,0.1),3px 3px 0 rgba(0,0,0,0.1),4px 4px 0 rgba(0,0,0,0.1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 8% 0;
}

.wrapper{
  padding: 56px 20px;
  }

/*<!-- well  caja color ligthblue-->*/

/*navbar-nav*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #E7E6E6;
    background-color: rgba(244, 243, 243, 0.47);
    border-color: ;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    color: #EDEBEB;
    background-color: rgba(231, 231, 231, 0.33);
}

.navbar-default .navbar-nav>li>a {
    color: #F4F0F0;
}

/*carousel*/
.carousel > .carousel-inner > .item > .move-top{
  padding-bottom:150px ;
}

.carousel-inner>.item {
    transition: .15s ease-in-out left;
}

/*medias query*/
@media (max-width: 1000px) {
    .navbar-default{
        height: 55px;
        background:rgba(51, 51, 51, 0.46);;
    }
}

     /*Large desktop */
    @media (min-width: 1200px) { ... }
     
     /*Portrait tablet to landscape and desktop */
    @media (min-width: 768px) and (max-width: 979px) { ... }
     
     /*Landscape phone to portrait tablet */
    @media (max-width: 767px) { ... }
     
    /* Landscape phones and down */
   @media (max-width: 480px) { ... }

/*pannel-gren redes sociales*/
.green-pannel{
 background-color:rgb(55, 207, 111); 
}

/*our last proyet*/

.pagination>li:last-child>a, .pagination>li:last-child>span ,
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    background-color: red;
    color: white;
}

/*whAT OURS*/
.color-red{
background-color:#C63939;
}

blockquote small {
    color: white;
}

/*footer*/
/*footer colores*/
.footer-top{
 background-color: #424a5d;
}
.footer-bottom{
  background-color: black;
}

.footer-bottom > div.container > div.col-lg-6 > .menu-footer{
  padding-top: 9px;
  padding-left: 190px;
}
.footer-bottom > div.container > div.col-lg-6 > .menu-footer a{
  color: white;
  padding-left: 24px;
  float: left;
} 

/*about-us*/
.progress {
    height: 41px;
}
/*utility*/
.no-margin{
  margin: 0;
} 
.no-padding{
  padding: 0;
}
.no-border{
  border: 0;
} 

/*colores a utilizar*/

.text-white{
  color:white;
}

.plomo{
  color: grey;
}

.green-oscuro{
  color: green;
}

.text-grey{
  color:#BABABA;
}
.bg-gray{
  background-color: gray;
}
.effect-font{
  text-shadow: 4px 3px 0px #3B9540, 9px 8px 0px rgba(0, 0, 0, 0.15);
}
/*esther*/
.pd-l{
  padding-left: 4%;
}
.style{
  list-style: none;
  padding: 0;
}
.mr-2{
  margin-right: 1%;
}
.iline{
  display: inline-block;
}





/*cuerpo del contact us*/
.green ul li{
  list-style: none;
  display: inline-block;
}
.green ul li a{
  color: white;
}
textarea {
  margin-top: 55px;
}
.mr{
  margin: 20px 0;
}
.link a{
  color: white;
}
.link{
  margin-top: 40px;
}
.contact{
  margin-top: 25px;
  margin-bottom: 50px;
}
.size-1{
  font-size: 1em;
}
.size-2{
  font-size: 0.8em;
}


/***************** SERVICES ******************/
#services{
  color: #34495e;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.icon-md {
 -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}
.background-gris-fondo{
    background-color: #F9F9F9;
}
.background-gris-fondo .primer{
    margin: 5% 0%;
}
.background-gris-fond h4{
    margin-top: 9%
}
.background-gris-fondo .row-img img{
    margin-bottom: 12%
}
.background-fondo {
    background-color: #FDFDFD;
    padding: 5% 0%;
}
#formulario{
    padding: 70px 0;
}
#formulario .message textarea{
    margin-top: 11%;
    padding-bottom: 50%; 
}
.form-inline .input-group input {
  border-color: red;
}
.form-inline .input-group span{
  background-color: red;
  border-color: red;
}

/*blog-item*/
.form-inline .input-group input {
  border-color: red;
}
.form-inline .input-group span{
  background-color: red;
  border-color: red;
}
.form-inline .input-group span i{
  color: white;
}
.caption a{
  color: gray;
  margin-left:0.5%;
}
.caption i{
  color: gray;
  margin-right: 1%;
}
.caption p{
  margin-top: 10px;
}
button a:hover{
  text-decoration: none;
  color: white;
}
button {
  margin-top: 5px;
}
/*blogiten*/
.button{
  display: inline-block;
}